<?xml version="1.0" encoding="UTF-8"?>
<!--
    This file must be called logback.xml if you want Spring to load it automatically so don't change the name.
    Logback libraries are included in Spring starter projects so no need to add to pom.xml in your own projects.
    In your classes, use org.slf4j.Logger to decouple your application from the actual logging framework used at runtime.
-->
<configuration>

    <!-- Logging to console -->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %black(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%C{1.}): %msg%n%throwable
            </Pattern>
        </layout>
    </appender>
    <!-- Highlight testing log messages in orange -->
    <appender name="ConsoleTestLogging" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %black(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %green(%C{1.}): %msg%n%throwable
            </Pattern>
        </layout>
    </appender>

    <!-- Log our messages in red. Set additivity to false to avoid double logging by root appender -->
    <logger name="com.piecon" level="debug" additivity="false">
        <appender-ref ref="ConsoleTestLogging" />
    </logger>

    <!-- Log everything else at INFO level -->
    <root level="info">
        <appender-ref ref="Console"/>
    </root>

</configuration>